
.idea/

*.o

*.bin

*.elf

*.sec

*.lst

*.cnt

*.map

platform/**

app/**

usr/sim/mpsoc_sim/mpsoc_sim

usr/sim/mpsoc_sim/**

usr-ex/noc_3x2/*.txt

usr-tp2/original-noc_3x2/*.txt

usr-tp2/noc_3x2/*.txt

usr-tp2/tp2_files/create_bmp

usr-tp2/tp2_files/create_image


